body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background: url('/src/assets/background.gif') no-repeat center center fixed;
  background-size: cover;
}


.overlay{
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.75);
}

header, .header-wrapper{
    position: relative;
    z-index: 2;
}