.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  border-radius: 50px;
  box-shadow: rgb(182, 182, 182) 0px 5px 1px 1px;


  width: 70%;
  max-width: 900px;
  padding: 10px 25px;
}

.header-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-icon {
  font-size: 24px;
  margin-right: 8px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 25px;
}

.nav-links li {
  font-size: 16px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #7c4dff;
}

.cta {
  display: flex;
  gap: 15px;
  margin-left: 15px;
}

.cta-btn,
.signin-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-btn {
  background-color: #7c4dff;
  color: white;
}

.cta-btn:hover {
  background-color: #5a2ccc;
}

.signin-btn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.signin-btn:hover {
  background-color: #333;
}


